@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
  padding: 0px 100px;
  font-family: Arial, Helvetica, sans-serif;
}
